body, html{
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    margin:0;
    flex-direction:column;
    background-color: #000000;
    min-width: 320px;
    color: #ffffff;
}
/* Egg animation */
.eggContainer{
    width: 400px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}
.hide{
    display: none;
}
/* Bounce Egg */
.bounce{
    animation: bounce .5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, .7, .05, .5);
    animation-iteration-count: 12; 
}
@keyframes bounce{
    from {
        transform: translate3d(0, 0px, 0);
    }
    to {
        transform: translate3d(0, -100px, 0);
    }
}
/* breaks egg open */
.topOpen{
    animation: top 1s both;
    transform-origin: bottom;
    transform-box: fill-box;
}
@keyframes top{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(-45deg);
    }
}
.bottomOpen{
    animation: bottom 2s both;
    transform-origin: bottom;
    transform-box: fill-box;
    position: absolute;
}
@keyframes bottom{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(45deg);
    }
}

/* enter */
#rooms, #welcome{
    width: 400px;

    margin-left: auto;
    margin-right: auto;
}
/* chicken */
.leave{
    animation: leave 5s both;
    transform-origin: bottom;
    transform-box: fill-box;
}
@keyframes leave{
    from {
        transform: translate3d(0, -40px, 0);
    }
    to {
        transform: translate3d(-600px, -150px, 0);
    }
}
/* rooms */
.instructions{
    height: 32%;
    text-align: center;
    font-family: Poppins, sans-serif;
    background-color: #0f6b67;
    margin-bottom: 10px;
}
h1, p, label{
    margin: 10px;
}
.guessingArea{
    height: 18%;
    text-align: center;
    font-family: Poppins, sans-serif;
    background-color: #0f6b67;
    padding: 5px;
    margin-top: 10px;
}
button{
    font-family: Poppins, sans-serif;
    background-color: #A5AA52;
    padding: 4px 8px;
    border-radius: 15px;
    color: #ffffff;
}
button:hover{
    font-weight: bold;
}
input{
    text-align: end;
    padding: 4px 8px;
    border-radius: 10px;
}
a{
    text-decoration: none;
}
.kitchen{
    height: 50%;
    margin-left: 10%;
    margin-right: 10%;
}

/* dinning room */
/* tea */
#TeaPot{
    animation: tip 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}
@keyframes tip{
    from{
        transform: rotate(30deg);
    }
    to{
        transform: rotate(0deg);
    }
}
#Tea{
    animation: pour 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transform-origin: top;
    transform-box: fill-box;
}
@keyframes pour{
    from{
        transform: scaleY(0);
    }
    to{
        transform: scaleY(1);
    }
}
/* toast */
#Butter{
    animation: spread 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transform-origin: top;
    transform-box: fill-box; 
}
@keyframes spread{
    from{
        transform: scaleY(0.2);
    }
    to{
        transform: scaleY(1);
    }
}
#ButterKnife{
    animation: knife 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}
@keyframes knife{
    from{
        transform: rotate(30deg);
    }
    to{
        transform: rotate(-10deg);
    }
}
/* cake */
#Lava{
    animation: leake 2s;
    animation-iteration-count: infinite;
    transform-origin: top;
    transform-box: fill-box; 
}
@keyframes leake{
    from{
        transform: scaleY(0.8);
    }
    to{
        transform: scaleY(1);
    }
}
/* candle */
#Flame{
    animation: flicker .5s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    transform-box: fill-box; 
}
@keyframes flicker{
    from{
        transform: skewY(0)
    }
    to{
        transform: skew(-10deg,-15deg)
    }
}

/* kitchen */
/* spin paddle in mixer */
#Paddle{
    animation: mix .5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transform-origin: top;
    transform-box: fill-box;
}
@keyframes mix{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(-180deg);
    }
}
#CakeBatter{
    animation: cakeMix .5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}
@keyframes cakeMix{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(20deg);
    }
}
/* roll rolling pin */
#RollingPin{
    animation: roll .5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transform-origin: top;
    transform-box: fill-box;
}
@keyframes roll{
    from {
        transform: translate3d(0, 0px, 0);
    }
    to {
        transform: translate3d(-5px, -6px, 0);
    }
}
#Dough{
    animation: rolling .5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transform-origin: top;
    transform-box: fill-box;
}
@keyframes rolling{
    from {
        transform:scaleY(1)
    }
    to {
        transform: scaleY(1.1)
    }
}
/* baking muffins */
#Muffins{
    animation: rise 5s;
    animation-iteration-count: infinite;
    transform-origin: top;
    transform-box: fill-box;
}
@keyframes rise{
    from {
        transform: translate3d(15px, 0px, 0);
    }
    to {
        transform: translate3d(15px, -8px, 0);
    }
}
/* Boiling pot */
#Pot{
    animation: shake .5s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}
@keyframes shake{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(2deg);
    }
}
#PotLid{
    animation: popTop .5s;
    animation-iteration-count: infinite;
    transform-origin: top;
    transform-box: fill-box;
}
@keyframes popTop{
    from {
        transform: translate3d(0, 0px, 0);
    }
    to {
        transform: translate3d(0, -1px, 0);
    }
}
#Drips{
    animation: drip 2s;
    animation-iteration-count: infinite;
    transform-origin: top;
    transform-box: fill-box;
}
@keyframes drip{
    from {
        transform: scaleY(0)
    }
    to {
        transform: scaleY(1)
    }
}
/* Tea Kettle */
#Steam{
    animation: riseSteam .5s;
    animation-iteration-count: infinite;
    transform-origin: top;
    transform-box: fill-box;
}
@keyframes riseSteam{
    from {
        transform: translate3d(0, 0px, 0);
    }
    to {
        transform: translate3d(-1px, -1px, 0);
    }
}
#Time{
    transform: translateX(4px);
}

/* Bathroom */
#Bubbles{
    animation: riseWater 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}
@keyframes riseWater{
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(10px, -30px, 0);
    }
}
#TapWater{
    animation: water 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-origin: top;
    transform-box: fill-box;
}
@keyframes water{
    from {
        transform: scaleY(.9)
    }
    to {
        transform: scaleY(1)
    }
}
#RubberDuck{
    animation: wavy 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}
@keyframes wavy{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(7deg);
    }
}
#overflowing{
    animation: over 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}
@keyframes over{
    from {
        transform: scaleY(.8)
    }
    to {
        transform: scaleY(1)
    }
}
#Toothbrush{
    animation: wavy 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}

/* Classroom */
/* clock */
#Mins{
    animation: minutes 6s;
    animation-iteration-count: infinite;
    transform-origin: top;
    transform-box: fill-box;
}
@keyframes  minutes{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
#Hrs{
    animation: hours 60s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}
@keyframes  hours{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* changes for large screens */
@media screen and (min-width: 500px){
    .kitchen{
        height: 70%;
    }
    .guessingArea{
        height: 10%;
    }
    .instructions{
        height: 20%;
    }
}
